:root {
  --primary--color--: #e6e6ff;
  --liked--color--: #0000e6;
  --white--color: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  height: 500px;
  width: 100%;
  margin: 0 auto;
  background-color: white;
}

.cover-photo-container {
  width: 80%;
  height: 70%;
  margin: 0 auto;
  background-color: var(--primary--color--);
}

.info-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  height: 25%;
  margin: 0 auto;
  padding: 30px;
  padding-left: 240px;
  background-color: lightpink;
  position: relative;
}

.user-info {
  color: rgb(32, 7, 11);
}

.img {
  height: 190px;
  width: 190px;
  background-color: red;
  color: red;
  border-radius: 50%;
  position: absolute;
  top: -80%;
  left: 3%;
  transform: translate(0, 0%);
}

.edit-btn {
  /* justify-self: flex-end; */
  align-self: flex-end;
}

.container_1 {
  width: 80%;
  height: 500px;
  margin: 0 auto;
  background-color: white;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  place-items: center;
  row-gap: 20px;
}

.friends-container {
  background-color: green;
  width: 90%;
  padding: 30px;
  border-radius: 20px;
}

.friends-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  list-style: none;
}

.img-friend {
  height: 150px;
  width: 150px;
  border-radius: 20px;
}
