:root {
  --primary--color--: #e6e6ff;
  --primary1--color--: #bebeff;
  --liked--color--: #0000e6;
  --white--color: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* font-family: sans-serif; */
}

body {
  background-color: var(--primary--color--);
}

.nav {
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  position: fixed;
  z-index: 9991;
  width: 100%;
  box-shadow: 0px 4px 6px -2px rgba(0, 0, 0, 0.3); /* Bottom shadow */
}

.find-friends {
  border-radius: 5px;
  height: 40px;
  padding-left: 30px;
  border: none;
  background-color: var(--primary--color--);
  position: relative;
}

.nav svg {
  width: 20px;
  height: 20px;
  position: absolute;
  z-index: 9997;
  left: 28px;
}

.container {
  height: 500px;
  width: 100%;
  margin: 0 auto;
  background-color: white;
}

.cover-photo-container {
  width: 80%;
  height: 70%;
  margin: 0 auto;
  background-color: var(--primary--color--);
}

.info-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  height: 25%;
  margin: 0 auto;
  padding: 30px;
  padding-left: 240px;
  /* background-color: lightpink; */
  position: relative;
}

.user-info {
  color: rgb(32, 7, 11);
}

.img {
  height: 190px;
  width: 190px;
  background-color: rgb(255, 255, 255);
  color: rgb(255, 255, 255);
  border-radius: 50%;
  position: absolute;
  top: -80%;
  left: 3%;
  transform: translate(0, 0%);
}

.edit-btn {
  /* justify-self: flex-end; */
  align-self: flex-end;
  height: 50px;
  width: 200px;
  border-radius: 20px;
  background-color: var(--primary--color--);

  border: none;

  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.pencil-icon {
  width: 30px;
  height: 30px;
}

.container_1 {
  height: fit-content;
  margin: 0 auto;
  margin-left: 10%;
  margin-right: 10%;
  background-color: var(--primary--color--);
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  place-items: center;
  row-gap: 20px;
}

.friends-container {
  background-color: rgb(255, 255, 255);
  width: 90%;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 0 10px rgb(0, 0, 0, 0.2);
}

.friends-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  list-style: none;
}

.img-friend {
  height: 150px;
  width: 150px;
  border-radius: 20px;
}

.post-section {
  margin-top: 60px;
  width: 90%;
  height: 500px;
}

.post-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.post-item {
  height: fit-content;
  width: 100%;
  background-color: white; /**/
  padding: 20px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  box-shadow: 0 0 10px rgb(0, 0, 0, 0.2);
}

.post-text {
  font-size: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.account-posting {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  padding-left: 10px;
}

.img-post {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.comment-content {
  height: 50px;
  width: 100%;
  background-color: #0000e6;
  display: flex;
  align-items: center;
  justify-content: center;
}

.likes-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
  position: relative;
}

.like-icon {
  width: 30px;
  height: 30px;
  fill: red;
}

.number-of-comments {
  position: absolute;
  right: 5px;
}

.like-and-comment {
  /* background-color: pink; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.like-btn,
.comment-btn {
  height: 50px;
  width: 100%;
  border-radius: 20px;
  background-color: white;

  border: 0.5px solid var(--primary--color--);
  transition: all 0.3s;
}

.like-btn:hover,
.comment-btn:hover {
  background-color: var(--primary--color--);
}

.write-comment {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
}

.input-comment {
  width: 100%;
  border-radius: 5px;
  height: 40px;
  padding-left: 10px;
  border: none;
  background-color: var(--primary--color--);
}

.comment-img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.comments {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
  /* padding: 20px; */
}

.item-comment {
  display: flex;
  align-items: center;
  gap: 10px;
}

.hidden {
  display: none;
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f7f9fb;
  transition: opacity 1.75s, visibility 1.75s;
  z-index: 9999;
}

.loader-hidden {
  opacity: 0;
  visibility: hidden;
}

.loader::after {
  content: "";
  width: 75px;
  height: 75px;
  border: 15px solid #dddddd;
  border-top-color: #7449f5;
  border-radius: 50%;
  animation: loading 0.75s ease infinite;
}

@keyframes loading {
  from {
    transform: rotate(0turn);
  }
  to {
    transform: rotate(1turn);
  }
}
